@font-face {
    font-family: chocolateBand;
    src: url('/fonts/28 Days Later.ttf');
}

body {
    background: #4cff00;
}

    body header h1 {
        font-family: chocolateBand;
        font-size: 110px;
        position: absolute;
        left: 19%;
    }

    body section button {
        display: block;
    }

#calculate-ukal {
    position: absolute;
    left: 38%;
    top: 40%;
    width: 400px;
    height: 60px;
    font-family: Verdana;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(237,11,11); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(237,11,11,1) 0%, rgba(25,140,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(237,11,11,1)), color-stop(100%,rgba(25,140,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(237,11,11,1) 0%,rgba(25,140,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(237,11,11,1) 0%,rgba(25,140,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(237,11,11,1) 0%,rgba(25,140,229,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(237,11,11,1) 0%,rgba(25,140,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0b0b', endColorstr='#198ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#the-band {
    position: absolute;
    left: 38%;
    top: 55%;
    width: 400px;
    height: 60px;
    font-family: Verdana;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(28,125,142); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(28,125,142,1) 0%, rgba(172,204,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(28,125,142,1)), color-stop(100%,rgba(172,204,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(28,125,142,1) 0%,rgba(172,204,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(28,125,142,1) 0%,rgba(172,204,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(28,125,142,1) 0%,rgba(172,204,229,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(28,125,142,1) 0%,rgba(172,204,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c7d8e', endColorstr='#accce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#how-to {
    position: absolute;
    left: 38%;
    top: 70%;
    width: 400px;
    height: 60px;
    font-family: Verdana;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(255,22,22); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,22,22,1) 0%, rgba(32,195,204,1) 68%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,22,22,1)), color-stop(68%,rgba(32,195,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255,22,22,1) 0%,rgba(32,195,204,1) 68%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255,22,22,1) 0%,rgba(32,195,204,1) 68%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255,22,22,1) 0%,rgba(32,195,204,1) 68%); /* IE10+ */
    background: linear-gradient(135deg, rgba(255,22,22,1) 0%,rgba(32,195,204,1) 68%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1616', endColorstr='#20c3cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body footer span{
    position: absolute;
    top: 88%;
    left: 44%;
    font-family: Tahoma;
    font-size: 30px;
}

#the-canvas{
    position: absolute;
    left: 35%;
    top: 30%;
}

#beta{
    position: absolute;
    left: 1250px;
    bottom: 0px;
    font-family: chocolateBand;
    font-size: 20px;
    color: rgb(28,125,142);
}

button:focus{
    outline: 0;
}